*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#one{
    /* background-color: aqua; */
    height: 100px;
    width: 100px;
    position: relative;
    z-index: -1;
}
#two{
    background-color: blue;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 50px;
    left: 50px;
    z-index: -1;
    align-items: ;
}
#three{
    background-color: cadetblue;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 100px;
    left: 100px;
    z-index: -1;
}
#four{
    background-color:rgb(187, 14, 14) ;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 150px;
    left: 150px;
    z-index: -1;
}
#five{
    background-color: lightgreen;
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 200px;
    left: 200px;
    z-index: -1;
}
